*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', sans-serif;
    box-sizing: border-box;
}

.main{
    width: 100%;
    min-height: 115vh;
    background: #f0ffff;
    color: #000000;
}

nav{
    background: #00ffff;
    width: 100%;
    padding: 12px 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo{
    width: 150px;
}

.user-pic{
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 25px;
}

nav ul{
    width: 100%;
    text-align: right;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 25px;
}

nav ul li a{
    color: #000000;
    text-decoration: none;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 12%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.75s;
}

.sub-menu-wrap.open-menu{
    max-height: 500px;
}

.sub-menu{
    background: #ffffff;
    padding: 25px;
    margin: 15px;

}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
}

.user-info img{
    width: 65px;
    border-radius: 50%;
    margin-right: 20px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #f0ffff;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    margin: 12px 0;
    position: relative;
}

.sub-menu-link::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 6px solid #000000;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    transform: translateY(-50%);
}

.sub-menu-link p{
    width: 100%;
}

img[src="images/Bonnie.png"] {
    width: 65px;  /* adjust as needed */
    height: 65px; /* adjust as needed */
}

img[src="images/Chica.png"] {
    width: 65px;  /* adjust as needed */
    height: 65px; /* adjust as needed */
}

img[src="images/Foxy.png"] {
    width: 65px;  /* adjust as needed */
    height: 65px; /* adjust as needed */
}

img[src="images/Cupcake.png"] {
    width: 65px;  /* adjust as needed */
    height: 65px; /* adjust as needed */
}

.sub-menu-link img{
    padding: 7px;
    background: #e5e5e5;
    border-radius: 50%;
}

.sub-menu-link span{
    font-size: 20px;
    transition: transform 0.75s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}